[Unit]
Description=Set your daily wallpaper
After=network-online.target

[Timer]
OnCalendar=daily
RandomizedDelaySec=5m
FixedRandomDelay=1
Persistent=true

[Install]
WantedBy=timers.target
