[Unit]
Description=Set your daily wallpaper
After=network-online.target

[Timer]
OnCalendar=daily
RandomizedDelaySec=2m
Persistent=true

[Install]
WantedBy=timers.target
