[Unit]
Description=Set your daily wallpaper

[Service]
Type=oneshot
ExecStart=%h/bin/daily_paper
; Give priority to other services
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7


; Don't need install managed by timer
; [Install]
; After=network-online.target
; Wants=network-online.target
