[user]
	email = lyr-7d1h@pm.me
	name = Lyr
	signingkey = F0E576DC4C752710F168C87C650AC1B95E7FEE6E
[init]
	defaultBranch = master
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
