* {
  border: none;
  border-radius: 0;
  /* font-family: "Ubuntu Nerd Font 12"; */
  font-family: "UbuntuMono";
  /* letter-spacing: 1px; */
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window {
  color: rgba(217, 216, 216, 1);
  background: rgba(35, 39, 42, 1);
}

.modules-right button:hover {
  background: rgba(20, 20, 20, 1);
}

window#waybar.top {
  color: rgba(217, 216, 216, 1);
  border-bottom: 1px solid rgba(56, 56, 56, 0.7);
}

window#waybar.bottom {
  border-top: 1px solid rgba(56, 56, 56, 0.7);
}

#workspaces button {
  padding: 0 5px 0 5px;
  color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
  background-color: #7289da; 
  color: white;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#network {
	min-width: 50px;
	margin: 0px 10px 0px 10px;
	/* word-spacing: 30px; */
}

#mode,
#battery,
#disk,
#bluetooth,
#clock,
#temperature,
#cpu,
#memory,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#tray,
#custom-mail {
  margin: 0px 10px 0px 10px;
  min-width: 25px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}
#temperature.critical,
#battery.critical {
  color: rgba(238, 46, 36, 1);
}
#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#disk.warning {
  color: rgba(255, 210, 4, 1);
}
#disk.critical {
  color: rgba(238, 46, 36, 1);
}
